
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway:wght@700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Variáveis para palta de cores do site.*/
    --cor-titulo: #D91604;
    --cor-texto: #F22727;
    --cor-escura: #0D0D0D;
    --cor-clara: #F2F2F2;
    --cor-intermediaria:#F26666;
}

html {font-size: 16px;}

body{
    background-image: url(../images/34752.jpg);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    max-width: 90vw;
    margin: 10px;
    font-family: 'Noto Sans', sans-serif;
}
h1 {
    font-family: 'Raleway', sans-serif;
    color: var(--cor-clara);
    font-size: 2rem;
    text-align: center;
    margin-top: 0.5rem;
}

h2{
    color: var(--cor-texto);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

h3 {
    color: var(--cor-escura);
    font-size: 1.5rem;
}

.container {
    position: relative;
    max-width: 80vw;
    background: var(--cor-clara);
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px 25px rgb(206, 60, 15);
}

p{
    font-size: 17px;
    line-height: 1.5rem;
}

.lado-esquerdo{
    position:relative;
    color: var(--cor-clara);
    background: var(--cor-escura);
    padding:  40px;
    text-decoration: none;
}

.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.178);
}

.profile .imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius:50%;
    overflow: hidden;
}

.profile .imgBx img{
    position: absolute;
    width: 90%;
    height: 100%;
    object-fit: cover;
}

.lado-direito{
    position: relative;
    background: var(--cor-clara);
    padding: 40px;
}
img {
    max-width: 100%;
    float: left;
    margin-right: 10px;
    margin-top: 15px;
    width: 60px;
    border-radius: 50px;
}

.hist {
    color: var(--cor-intermediaria);
    font-size: 0.8rem;
 }
.title p {
    color: var(--cor-clara);
    font-size: 1rem;
}
.bio {
    color: var(--cor-intermediaria);
    text-align: center;
}